body {
  background-color: #1a1a1a;
  line-height: 1.5;
  font-size: 16px;
  font-family: Mono;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3 {
  color:#b5e853;
}

p {
  color:#eaeaea;
}

a {
  color: #63c0f5;
}

div.sourceCode {
  background:rgba(0,0,0,0.9);
  border:1px solid rgba(255,255,255,0.15);
  color:#eaeaea;
  border-radius:2px;
  padding-left:10px;
}
