body {
  background-color: #1a1a1a;
  line-height: 1.5;
  font-size: 16px;
  font-family: Mono;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  color:#eaeaea;
}

h1, h2, h3 {
  color:#b5e853;
}

ul {
  list-style-image: linear-gradient(#b5e853, #b5e853);
}

a {
  color: #63c0f5;
}

/* Not inline code */
div.sourceCode {
  background:rgba(0,0,0,0.9);
  border:1px solid rgba(255,255,255,0.15);
  border-radius:2px;
  overflow-y:hidden;
  padding-left:10px;
}

/* Not inline code */
code.sourceCode {
  color:#eaeaea;
}

code {
  background: rgba(0,0,0,0.9);
  padding: 0px 3px;
  margin: 0px -3px;
  color: #aa759f;
  border-radius: 2px;
}

blockquote {
 color:#aaa;
 padding-left:10px;
 border-left:1px dotted #666
}

img {
 max-width:100%
}
